In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
# pip install plotly

In [3]:
df1 = pd.read_csv("data_sets/Auto_stock_data.csv")
df2 = pd.read_csv("data_sets/Financial_stock_data.csv")
df3 = pd.read_csv("data_sets/tech_data.csv").drop(columns={'Unnamed: 0'})
df4 = pd.read_csv("data_sets/Healthcare_Stock_Data2.csv")

In [4]:
df1

,Date,Ticker,Sector,Industry,Open,High,Low,Close,Volume
0,2018-01-02,CPRT,Automobiles,Auto & Truck Dealerships,43.52,43.6700,43.190,43.60,860740.0
1,2018-01-03,CPRT,Automobiles,Auto & Truck Dealerships,43.63,43.8500,43.200,43.39,1152481.0
2,2018-01-04,CPRT,Automobiles,Auto & Truck Dealerships,43.50,43.9500,43.300,43.74,1164240.0
3,2018-01-05,CPRT,Automobiles,Auto & Truck Dealerships,43.77,43.8800,43.030,43.53,922916.0
4,2018-01-08,CPRT,Automobiles,Auto & Truck Dealerships,43.59,43.8600,43.280,43.55,1254075.0
...,...,...,...,...,...,...,...,...,...
28602,2023-11-28,INTC,Automobiles,Semiconductors,43.69,44.3827,43.660,44.23,24548874.0
28603,2023-11-29,INTC,Automobiles,Semiconductors,44.60,45.3400,44.600,44.94,38982026.0
28604,2023-11-30,INTC,Automobiles,Semiconductors,44.65,45.0900,44.410,44.70,46262971.0
28605,2023-12-01,INTC,Automobiles,Semiconductors,44.36,44.3600,42.860,43.74,43928371.0
28606,2023-12-04,INTC,Automobiles,Semiconductors,43.30,43.3100,41.685,42.35,50417587.0

In [5]:
df2

,Date,Ticker,Sector,Industry,Open,High,Low,Close,Volume
0,2018-01-02,WD,Finance,Mortgage,47.700001,47.919998,47.259998,47.320000,181300
1,2018-01-03,WD,Finance,Mortgage,47.230000,47.230000,46.090000,46.130001,134800
2,2018-01-04,WD,Finance,Mortgage,46.189999,46.810001,46.090000,46.099998,140200
3,2018-01-05,WD,Finance,Mortgage,46.110001,48.060001,45.349998,47.980000,336900
4,2018-01-08,WD,Finance,Mortgage,48.160000,48.880001,47.369999,47.820000,310100
...,...,...,...,...,...,...,...,...,...
29012,2023-11-27,COF,Finance,Credit Services,105.699997,106.610001,105.430000,106.180000,1556800
29013,2023-11-28,COF,Finance,Credit Services,106.370003,109.050003,106.139999,108.580002,1874500
29014,2023-11-29,COF,Finance,Credit Services,109.180000,111.559998,109.180000,110.129997,2087500
29015,2023-11-30,COF,Finance,Credit Services,110.800003,111.970001,110.180000,111.660004,2439300
29016,2023-12-01,COF,Finance,Credit Services,111.339996,115.139999,111.339996,113.930000,3421900

In [6]:
df3

,date,1. open,2. high,3. low,4. close,5. volume,Ticker,Industry,Sector
0,2018-01-02,64.38,65.33,64.170,65.20,6299841.0,QCOM,Semiconductors,Technology
1,2018-01-03,65.22,66.06,64.690,65.94,6721391.0,QCOM,Semiconductors,Technology
2,2018-01-04,66.18,66.53,65.910,66.03,5035323.0,QCOM,Semiconductors,Technology
3,2018-01-05,66.04,66.60,65.500,66.47,5345423.0,QCOM,Semiconductors,Technology
4,2018-01-08,66.25,66.53,65.940,66.27,4253127.0,QCOM,Semiconductors,Technology
...,...,...,...,...,...,...,...,...,...
27625,2023-11-28,70.70,71.52,70.700,71.30,2607377.0,CTSH,Infotech,Technology
27626,2023-11-29,71.60,71.80,69.895,70.12,3521683.0,CTSH,Infotech,Technology
27627,2023-11-30,70.39,70.52,69.800,70.38,8254394.0,CTSH,Infotech,Technology
27628,2023-12-01,70.23,70.87,70.080,70.82,2672566.0,CTSH,Infotech,Technology
27629,2023-12-04,70.40,71.48,70.220,71.16,2405138.0,CTSH,Infotech,Technology

In [19]:
df4['date'] = pd.to_datetime(df4['date'], format='%m/%d/%Y')
df4 = df4.rename(columns={'date':"Date",'1. open': "Open", '2. high': "High", '3. low': "Low", '4. close': "Close", '5. volume':"Volume"})
df4

,Date,Ticker,Sector,Industry,Open,High,Low,Close,Volume
0,2018-01-02,ISRG,Healthcare,Medical Instruments & supplies,367.89,375.8100,365.11,375.25,694925
1,2018-01-03,ISRG,Healthcare,Medical Instruments & supplies,377.12,384.1700,375.01,383.82,767711
2,2018-01-04,ISRG,Healthcare,Medical Instruments & supplies,385.73,389.4800,375.09,376.92,889251
3,2018-01-05,ISRG,Healthcare,Medical Instruments & supplies,380.88,380.8800,375.80,379.01,672195
4,2018-01-08,ISRG,Healthcare,Medical Instruments & supplies,378.72,392.6400,377.21,391.86,938767
...,...,...,...,...,...,...,...,...,...
29202,2023-11-22,MRK,Healthcare,Drug Manufacturers,102.20,102.6800,101.11,101.68,5724130
29203,2023-11-24,MRK,Healthcare,Drug Manufacturers,102.26,102.5136,101.44,101.87,3167952
29204,2023-11-27,MRK,Healthcare,Drug Manufacturers,101.91,102.1500,100.70,101.43,7356536
29205,2023-11-28,MRK,Healthcare,Drug Manufacturers,101.31,101.3500,100.01,100.18,8738483
29206,2023-11-29,MRK,Healthcare,Drug Manufacturers,100.28,101.1700,99.80,101.13,10286779

In [22]:
combined_df = pd.concat([df1, df2, df3,df4], ignore_index=True)

In [23]:
combined_df

,Date,Ticker,Sector,Industry,Open,High,Low,Close,Volume,date,1. open,2. high,3. low,4. close,5. volume
0,2018-01-02,CPRT,Automobiles,Auto & Truck Dealerships,43.52,43.6700,43.19,43.60,860740.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-03,CPRT,Automobiles,Auto & Truck Dealerships,43.63,43.8500,43.20,43.39,1152481.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-04,CPRT,Automobiles,Auto & Truck Dealerships,43.50,43.9500,43.30,43.74,1164240.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-05,CPRT,Automobiles,Auto & Truck Dealerships,43.77,43.8800,43.03,43.53,922916.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-08,CPRT,Automobiles,Auto & Truck Dealerships,43.59,43.8600,43.28,43.55,1254075.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114456,2023-11-22 00:00:00,MRK,Healthcare,Drug Manufacturers,102.20,102.6800,101.11,101.68,5724130.0,NaN,NaN,NaN,NaN,NaN,NaN
114457,2023-11-24 00:00:00,MRK,Healthcare,Drug Manufacturers,102.26,102.5136,101.44,101.87,3167952.0,NaN,NaN,NaN,NaN,NaN,NaN
114458,2023-11-27 00:00:00,MRK,Healthcare,Drug Manufacturers,101.91,102.1500,100.70,101.43,7356536.0,NaN,NaN,NaN,NaN,NaN,NaN
114459,2023-11-28 00:00:00,MRK,Healthcare,Drug Manufacturers,101.31,101.3500,100.01,100.18,8738483.0,NaN,NaN,NaN,NaN,NaN,NaN
114460,2023-11-29 00:00:00,MRK,Healthcare,Drug Manufacturers,100.28,101.1700,99.80,101.13,10286779.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
combined_df['Date'] = pd.to_datetime(combined_df['Date'])
combined_df.dtypes

In [ ]:
combined_df['Year'] = combined_df['Date'].dt.year
combined_df

In [ ]:
grouped_df = combined_df.groupby(['Year', 'Sector'])['Volume'].mean().reset_index()

In [ ]:
pivot_data = grouped_df.pivot(index='Year', columns='Sector', values='Volume').reset_index()

In [ ]:
plt.figure(figsize=(12, 8))
bar_width = 0.2  # Width of each bar
# offset = bar_width / 2  # Offset for aligning bars of different sectors in the same year

for i, sector in enumerate(grouped_df['Sector'].unique()):
    plt.bar(pivot_data['Year'] + i * bar_width, pivot_data[sector], width=bar_width, label=sector)

plt.xlabel('Year')
plt.ylabel('Average of Volume')
plt.title('Performance of Each Sector per year in terms of Average Volume')
plt.legend()

In [ ]:
# Create a bar graph with hover functionality using plotly express
fig = px.bar(
    grouped_df,
    x='Year',
    y='Volume',
    color='Sector',
    labels={'Volume': 'Average Volume'},
    title='Performance of Each Sector per Year in terms of Average Volume',
    height=500,
)

# Add hover data
fig.update_traces(
    hovertemplate='<b>%{y}</b> Volume<br>%{x} Year'
)

# Show the plot
fig.show()
fig.write_image("graph.png")