In [14]:
from alpha_vantage.timeseries import TimeSeries
import sys
import pandas as pd
from config import api_key

In [2]:
whole_data = []
tickers = ["CPRT", "KMX", "PAG", "LAD", "AN", "MBLY", "APTV", "MGA", "LKQ", "ALV", "TSLA", "TM", "HMC", "GM", "F", "NVDA", "TSM", "AVGO", "AMD", "INTC" ]

for ticker in tickers:
    ts = TimeSeries(key= api_key, output_format='pandas')
    data, meta_data = ts.get_daily(symbol=ticker, outputsize='full')
    data_df = pd.DataFrame(data)
    data_df = data_df.sort_index()

# Set the 'date' column as the index
    start_date = '2017-12-31'
    end_date = '2023-12-04'
    filtered_data = pd.DataFrame(data_df.loc[start_date:end_date])
    
    filtered_data["Ticker"] = ticker
    # filtered_data["Industry"] = "Automotive"
    
    whole_data.append(filtered_data)

In [3]:
final_data = pd.concat(whole_data)
final_data.to_csv('raw_auto_stock_data.csv', index=True)

In [4]:
data_df = pd.read_csv("raw_auto_stock_data.csv")
data_df

             date  1. open  2. high  3. low  4. close   5. volume Ticker
0      2018-01-02    43.52  43.6700  43.190     43.60    860740.0   CPRT
1      2018-01-03    43.63  43.8500  43.200     43.39   1152481.0   CPRT
2      2018-01-04    43.50  43.9500  43.300     43.74   1164240.0   CPRT
3      2018-01-05    43.77  43.8800  43.030     43.53    922916.0   CPRT
4      2018-01-08    43.59  43.8600  43.280     43.55   1254075.0   CPRT
...           ...      ...      ...     ...       ...         ...    ...
28602  2023-11-28    43.69  44.3827  43.660     44.23  24548874.0   INTC
28603  2023-11-29    44.60  45.3400  44.600     44.94  38982026.0   INTC
28604  2023-11-30    44.65  45.0900  44.410     44.70  46262971.0   INTC
28605  2023-12-01    44.36  44.3600  42.860     43.74  43928371.0   INTC
28606  2023-12-04    43.30  43.3100  41.685     42.35  50417587.0   INTC

[28607 rows x 7 columns]

In [5]:
ticker_industry_mapping = {"CPRT":"Auto & Truck Dealerships", 
                           "KMX":"Auto & Truck Dealerships", 
                           "PAG":"Auto & Truck Dealerships", 
                           "LAD":"Auto & Truck Dealerships", 
                           "AN":"Auto & Truck Dealerships", 
                           "MBLY":"Auto Parts", 
                           "APTV":"Auto Parts", 
                           "MGA":"Auto Parts", 
                           "LKQ":"Auto Parts", 
                           "ALV":"Auto Parts", 
                           "TSLA":"Auto Manufacturers", 
                           "TM":"Auto Manufacturers", 
                           "HMC":"Auto Manufacturers", 
                           "GM":"Auto Manufacturers", 
                           "F":"Auto Manufacturers", 
                           "NVDA":"Semiconductors", 
                           "TSM":"Semiconductors", 
                           "AVGO":"Semiconductors", 
                           "AMD":"Semiconductors", 
                           "INTC":"Semiconductors"}

In [6]:
data_df["Industry"] = data_df["Ticker"].map(ticker_industry_mapping)
data_df["Sector"] = "Automobiles"

In [7]:
data_df = data_df.rename(columns={'1. open': 'Open', 
                                  '2. high': 'High', 
                                  '3. low': 'Low', 
                                  '4. close': 'Close', 
                                  '5. volume': 'Volume',
                                 "date": "Date"
                                 })

In [8]:
final_df = data_df[["Date", "Ticker", "Sector", "Industry", "Open", "High", "Low", "Close", "Volume"]]

In [9]:
final_df.to_csv('final_auto_stock_data.csv', index=False)