In [1]:
from alpha_vantage.timeseries import TimeSeries
import matplotlib.pyplot as plt
import sys
import pandas as pd
import requests
from api_keys import AV_api

In [2]:
# define sectors
sectors = {
    'Semiconductors': ['NVDA', 'TSM', 'AVGO', 'AMD', 'INTC'],
    'Software': ['CRM', 'SAP', 'INTU', 'NOW', 'ZI'],
    'Consumer': ['AAPL', 'MSFT', 'SONY', 'LPL', 'SONO'],
    'Infotech': ['ACN', 'IBM', 'FI', 'INFY', 'CTSH']
}
sectors = pd.DataFrame(sectors)

In [26]:
all_data = []                                                                   # create an empty list to append to

start_date = '2018-01-01'                                                       # create start and end dates

end_date = '2023-12-04'

for industry, companies in sectors.items():                                       # iterate over each industry
    for ticker in companies:                                                    # iterate over each company in industry
        try:
            print (f'Gathering data for {industry}: {ticker}')
            
            ts = TimeSeries(key='1CSXU4M8SUPKSPG', output_format='pandas')     # make api call
            data, meta_data = ts.get_daily(symbol=ticker, outputsize='full')
            data_df = pd.DataFrame(data)

            data_df = data_df.sort_index()                                      # filter from start to end dates
            filtered_data = pd.DataFrame(data_df.loc[start_date:end_date])

            #Ticker, sector, Industry, Open, High, Low, Close, Volume
            filtered_data["Ticker"] = ticker                                    # add ticker column
            filtered_data["Industry"] = industry
            filtered_data["Sector"] = 'Technology'
            all_data.append(filtered_data)
        except:
            print(f'Company {ticker} not found')

Gathering data for Semiconductors: NVDA
Gathering data for Semiconductors: TSM
Gathering data for Semiconductors: AVGO
Gathering data for Semiconductors: AMD
Gathering data for Semiconductors: INTC
Gathering data for Software: CRM
Gathering data for Software: SAP
Gathering data for Software: INTU
Gathering data for Software: NOW
Gathering data for Software: ZI
Gathering data for Consumer: AAPL
Gathering data for Consumer: MSFT
Gathering data for Consumer: SONY
Gathering data for Consumer: LPL
Gathering data for Consumer: SONO
Gathering data for Infotech: ACN
Gathering data for Infotech: IBM
Gathering data for Infotech: FI
Gathering data for Infotech: INFY
Gathering data for Infotech: CTSH

In [29]:
final_data = pd.concat(all_data)                        # Convert to dataframe

In [31]:
all_data

[            1. open  2. high  3. low  4. close   5. volume Ticker  \
 date
 2018-01-02   195.78  199.500  194.50    199.35   8303752.0   NVDA
 2018-01-03   204.10  213.700  203.75    212.47  22499518.0   NVDA
 2018-01-04   215.76  218.050  212.69    213.59  14346675.0   NVDA
 2018-01-05   214.19  216.910  211.08    215.40  14008768.0   NVDA
 2018-01-08   220.40  225.000  218.58    222.00  21190932.0   NVDA
 ...             ...      ...     ...       ...         ...    ...
 2023-11-28   482.36  483.229  474.73    478.21  40149085.0   NVDA
 2023-11-29   483.79  487.620  478.60    481.40  38200465.0   NVDA
 2023-11-30   480.24  481.100  464.22    467.70  52624663.0   NVDA
 2023-12-01   465.25  472.000  461.87    467.65  36931701.0   NVDA
 2023-12-04   460.77  460.770  450.10    455.10  43754344.0   NVDA

                   Industry      Sector
 date
 2018-01-02  Semiconductors  Technology
 2018-01-03  Semiconductors  Technology
 2018-01-04  Semiconductors  Technology
 2018-01-05  Semiconductors  Technology
 2018-01-08  Semiconductors  Technology
 ...                    ...         ...
 2023-11-28  Semiconductors  Technology
 2023-11-29  Semiconductors  Technology
 2023-11-30  Semiconductors  Technology
 2023-12-01  Semiconductors  Technology
 2023-12-04  Semiconductors  Technology

 [1491 rows x 8 columns],
             1. open  2. high   3. low  4. close   5. volume Ticker  \
 date
 2018-01-02   40.510    41.05  40.4200     41.02   4983999.0    TSM
 2018-01-03   41.590    41.81  41.4400     41.71   6963207.0    TSM
 2018-01-04   41.920    42.00  41.4500     41.49   4876605.0    TSM
 2018-01-05   41.890    42.57  41.7900     42.46   5330763.0    TSM
 2018-01-08   42.400    42.48  42.1900     42.44   3538166.0    TSM
 ...             ...      ...      ...       ...         ...    ...
 2023-11-28   97.870    98.25  97.2350     97.98   6358143.0    TSM
 2023-11-29   99.000    99.73  98.6000     98.88   7091122.0    TSM
 2023-11-30   98.925    98.98  96.9000     97.31   9681363.0    TSM
 2023-12-01   97.700    98.78  97.0200     98.55   7500388.0    TSM
 2023-12-04   97.050    97.20  95.2501     97.01  10619352.0    TSM

                   Industry      Sector
 date
 2018-01-02  Semiconductors  Technology
 2018-01-03  Semiconductors  Technology
 2018-01-04  Semiconductors  Technology
 2018-01-05  Semiconductors  Technology
 2018-01-08  Semiconductors  Technology
 ...                    ...         ...
 2023-11-28  Semiconductors  Technology
 2023-11-29  Semiconductors  Technology
 2023-11-30  Semiconductors  Technology
 2023-12-01  Semiconductors  Technology
 2023-12-04  Semiconductors  Technology

 [1491 rows x 8 columns],
             1. open   2. high  3. low  4. close  5. volume Ticker  \
 date
 2018-01-02   259.77  267.5000  257.57    267.01  3282906.0   AVGO
 2018-01-03   267.29  270.7300  266.03    269.93  3088440.0   AVGO
 2018-01-04   271.59  271.7600  268.43    270.02  1894663.0   AVGO
 2018-01-05   271.97  274.2600  269.45    271.62  2851581.0   AVGO
 2018-01-08   270.92  272.5500  269.06    272.27  2090645.0   AVGO
 ...             ...       ...     ...       ...        ...    ...
 2023-11-28   939.94  950.8600  934.16    946.35  3902494.0   AVGO
 2023-11-29   948.34  959.4299  939.37    940.83  3484274.0   AVGO
 2023-11-30   941.00  942.4150  918.37    925.73  4957110.0   AVGO
 2023-12-01   922.46  933.9000  908.00    930.00  2961244.0   AVGO
 2023-12-04   920.64  930.9700  916.44    923.97  2500921.0   AVGO

                   Industry      Sector
 date
 2018-01-02  Semiconductors  Technology
 2018-01-03  Semiconductors  Technology
 2018-01-04  Semiconductors  Technology
 2018-01-05  Semiconductors  Technology
 2018-01-08  Semiconductors  Technology
 ...                    ...         ...
 2023-11-28  Semiconductors  Technology
 2023-11-29  Semiconductors  Technology
 2023-11-30  Semiconductors  Technology
 2023-12-01  Semiconductors  Technology
 2023-12-04  Semiconductors  Technology

 [1491 rows x 8 columns],
             1. open   2. high   3. low  4. close    5. volume Ticker  \
 date
 2018-01-02    10.42   11.0200   10.340     10.98   43479727.0    AMD
 2018-01-03    11.61   12.1400   11.360     11.55  150097565.0    AMD
 2018-01-04    12.10   12.4300   11.970     12.12  108512405.0    AMD
 2018-01-05    12.19   12.2200   11.660     11.88   63187983.0    AMD
 2018-01-08    12.01   12.3000   11.850     12.28   62896703.0    AMD
 ...             ...       ...      ...       ...          ...    ...
 2023-11-28   121.98  122.5400  120.790    122.01   32047063.0    AMD
 2023-11-29   123.98  125.7250  123.480    123.85   37876317.0    AMD
 2023-11-30   123.61  124.0500  119.650    121.16   44494211.0    AMD
 2023-12-01   119.88  121.4001  118.645    121.39   37048002.0    AMD
 2023-12-04   119.75  119.9000  116.370    118.57   39854418.0    AMD

                   Industry      Sector
 date
 2018-01-02  Semiconductors  Technology
 2018-01-03  Semiconductors  Technology
 2018-01-04  Semiconductors  Technology
 2018-01-05  Semiconductors  Technology
 2018-01-08  Semiconductors  Technology
 ...                    ...         ...
 2023-11-28  Semiconductors  Technology
 2023-11-29  Semiconductors  Technology
 2023-11-30  Semiconductors  Technology
 2023-12-01  Semiconductors  Technology
 2023-12-04  Semiconductors  Technology

 [1491 rows x 8 columns],
             1. open  2. high  3. low  4. close    5. volume Ticker  \
 date
 2018-01-02    46.38  46.9000  46.210     46.85   22435059.0   INTC
 2018-01-03    45.47  46.2100  43.650     45.26  113815771.0   INTC
 2018-01-04    43.52  44.6500  42.690     44.43   88431631.0   INTC
 2018-01-05    44.43  45.1500  43.900     44.74   41108418.0   INTC
 2018-01-08    44.27  44.8400  43.960     44.74   33170821.0   INTC
 ...             ...      ...     ...       ...          ...    ...
 2023-11-28    43.69  44.3827  43.660     44.23   24548874.0   INTC
 2023-11-29    44.60  45.3400  44.600     44.94   38982026.0   INTC
 2023-11-30    44.65  45.0900  44.410     44.70   46262971.0   INTC
 2023-12-01    44.36  44.3600  42.860     43.74   43928371.0   INTC
 2023-12-04    43.30  43.3100  41.685     42.35   50417587.0   INTC

                   Industry      Sector
 date
 2018-01-02  Semiconductors  Technology
 2018-01-03  Semiconductors  Technology
 2018-01-04  Semiconductors  Technology
 2018-01-05  Semiconductors  Technology
 2018-01-08  Semiconductors  Technology
 ...                    ...         ...
 2023-11-28  Semiconductors  Technology
 2023-11-29  Semiconductors  Technology
 2023-11-30  Semiconductors  Technology
 2023-12-01  Semiconductors  Technology
 2023-12-04  Semiconductors  Technology

 [1491 rows x 8 columns],
             1. open  2. high  3. low  4. close   5. volume Ticker  Industry  \
 date
 2018-01-02   102.88   104.70  102.27    104.41   4367522.0    CRM  Software
 2018-01-03   104.90   106.14  104.62    105.29   3645775.0    CRM  Software
 2018-01-04   106.00   107.66  105.77    106.68   4480624.0    CRM  Software
 2018-01-05   107.76   108.30  107.20    108.10   3292050.0    CRM  Software
 2018-01-08   108.00   109.14  107.57    108.86   2920239.0    CRM  Software
 ...             ...      ...     ...       ...         ...    ...       ...
 2023-11-28   223.61   225.53  222.23    224.92   5535336.0    CRM  Software
 2023-11-29   228.61   231.50  227.26    230.35  12327442.0    CRM  Software
 2023-11-30   249.05   252.50  243.65    251.90  24425715.0    CRM  Software
 2023-12-01   250.00   263.43  249.70    260.00  14538232.0    CRM  Software
 2023-12-04   252.80   255.12  249.85    250.66  11429249.0    CRM  Software

                 Sector
 date
 2018-01-02  Technology
 2018-01-03  Technology
 2018-01-04  Technology
 2018-01-05  Technology
 2018-01-08  Technology
 ...                ...
 2023-11-28  Technology
 2023-11-29  Technology
 2023-11-30  Technology
 2023-12-01  Technology
 2023-12-04  Technology

 [1491 rows x 8 columns],
             1. open  2. high  3. low  4. close  5. volume Ticker  Industry  \
 date
 2018-01-02   111.23  112.420  111.13    112.39   540574.0    SAP  Software
 2018-01-03   112.63  113.690  112.55    113.31   506151.0    SAP  Software
 2018-01-04   114.78  115.300  114.70    115.05   539287.0    SAP  Software
 2018-01-05   115.45  116.500  115.36    116.33   475330.0    SAP  Software
 2018-01-08   115.09  115.420  114.76    114.80   515510.0    SAP  Software
 ...             ...      ...     ...       ...        ...    ...       ...
 2023-11-28   155.50  156.720  155.37    156.30   583906.0    SAP  Software
 2023-11-29   158.28  159.080  158.05    158.63   584604.0    SAP  Software
 2023-11-30   159.15  159.370  157.97    159.12   920360.0    SAP  Software
 2023-12-01   158.39  160.355  158.15    160.09   810864.0    SAP  Software
 2023-12-04   158.77  159.495  157.90    159.27   670275.0    SAP  Software

                 Sector
 date
 2018-01-02  Technology
 2018-01-03  Technology
 2018-01-04  Technology
 2018-01-05  Technology
 2018-01-08  Technology
 ...                ...
 2023-11-28  Technology
 2023-11-29  Technology
 2023-11-30  Technology
 2023-12-01  Technology
 2023-12-04  Technology

 [1491 rows x 8 columns],
             1. open  2. high   3. low  4. close  5. volume Ticker  Industry  \
 date
 2018-01-02   158.22   158.85  157.010    158.72  1400973.0   INTU  Software
 2018-01-03   158.23   159.33  157.740    159.16  1362609.0   INTU  Software
 2018-01-04   159.46   163.82  159.460    162.01  1672952.0   INTU  Software
 2018-01-05   162.80   164.55  162.500    164.11  1039360.0   INTU  Software
 2018-01-08   164.03   164.53  163.340    164.21  1171859.0   INTU  Software
 ...             ...      ...      ...       ...        ...    ...       ...
 2023-11-28   559.60   567.15  557.950    565.07  1745478.0   INTU  Software
 2023-11-29   582.99   599.00  575.900    577.23  2489834.0   INTU  Software
 2023-11-30   577.39   582.16  565.690    571.46  1941118.0   INTU  Software
 2023-12-01   571.40   576.68  564.445    574.32  1334098.0   INTU  Software
 2023-12-04   568.62   571.18  560.680    570.47  1335831.0   INTU  Software

                 Sector
 date
 2018-01-02  Technology
 2018-01-03  Technology
 2018-01-04  Technology
 2018-01-05  Technology
 2018-01-08  Technology
 ...                ...
 2023-11-28  Technology
 2023-11-29  Technology
 2023-11-30  Technology
 2023-12-01  Technology
 2023-12-04  Technology

 [1491 rows x 8 columns],
             1. open  2. high    3. low  4. close  5. volume Ticker  Industry  \
 date
 2018-01-02   131.00  132.350  130.1400    131.73  1282712.0    NOW  Software
 2018-01-03   132.00  133.250  131.7400    132.91  1568172.0    NOW  Software
 2018-01-04   133.88  135.090  133.7800    133.85  1361877.0    NOW  Software
 2018-01-05   134.95  135.130  133.9000    135.01  1177274.0    NOW  Software
 2018-01-08   135.05  136.090  134.8700    135.30  1337234.0    NOW  Software
 ...             ...      ...       ...       ...        ...    ...       ...
 2023-11-28   667.63  672.600  661.3900    665.24  1520611.0    NOW  Software
 2023-11-29   671.00  682.290  671.0000    678.93  1465302.0    NOW  Software
 2023-11-30   682.00  688.890  678.8200    685.74  1832999.0    NOW  Software
 2023-12-01   685.45  694.765  683.2842    690.79  1453346.0    NOW  Software
 2023-12-04   684.00  693.990  680.7101    687.62  1166075.0    NOW  Software

                 Sector
 date
 2018-01-02  Technology
 2018-01-03  Technology
 2018-01-04  Technology
 2018-01-05  Technology
 2018-01-08  Technology
 ...                ...
 2023-11-28  Technology
 2023-11-29  Technology
 2023-11-30  Technology
 2023-12-01  Technology
 2023-12-04  Technology

 [1491 rows x 8 columns],
             1. open  2. high  3. low  4. close   5. volume Ticker  Industry  \
 date
 2020-06-04    40.00    42.00  32.100     34.00  24801780.0     ZI  Software
 2020-06-05    36.50    40.00  34.600     38.89   9110747.0     ZI  Software
 2020-06-08    41.90    47.90  40.660     44.69   9020321.0     ZI  Software
 2020-06-09    46.93    51.75  44.700     50.00   9200572.0     ZI  Software
 2020-06-10    59.22    64.40  50.070     50.30  18098694.0     ZI  Software
 ...             ...      ...     ...       ...         ...    ...       ...
 2023-11-28    13.86    14.07  13.650     13.99   4888459.0     ZI  Software
 2023-11-29    14.16    14.30  13.965     14.22   6768826.0     ZI  Software
 2023-11-30    14.30    14.60  13.960     14.37  31610725.0     ZI  Software
 2023-12-01    14.35    15.14  13.890     15.05   9749324.0     ZI  Software
 2023-12-04    14.95    15.28  14.600     14.71   5611282.0     ZI  Software

                 Sector
 date
 2020-06-04  Technology
 2020-06-05  Technology
 2020-06-08  Technology
 2020-06-09  Technology
 2020-06-10  Technology
 ...                ...
 2023-11-28  Technology
 2023-11-29  Technology
 2023-11-30  Technology
 2023-12-01  Technology
 2023-12-04  Technology

 [882 rows x 8 columns],
             1. open  2. high    3. low  4. close   5. volume Ticker  Industry  \
 date
 2018-01-02   170.16   172.30  169.2600    172.26  25048048.0   AAPL  Consumer
 2018-01-03   172.53   174.55  171.9600    172.23  28819653.0   AAPL  Consumer
 2018-01-04   172.54   173.47  172.0800    173.03  22211345.0   AAPL  Consumer
 2018-01-05   173.44   175.37  173.0500    175.00  23016177.0   AAPL  Consumer
 2018-01-08   174.35   175.61  173.9300    174.35  20134092.0   AAPL  Consumer
 ...             ...      ...       ...       ...         ...    ...       ...
 2023-11-28   189.78   191.08  189.4000    190.40  38415419.0   AAPL  Consumer
 2023-11-29   190.90   192.09  188.9700    189.37  43014224.0   AAPL  Consumer
 2023-11-30   189.84   190.32  188.1900    189.95  48794366.0   AAPL  Consumer
 2023-12-01   190.33   191.56  189.2300    191.24  45704823.0   AAPL  Consumer
 2023-12-04   189.98   190.05  187.4511    189.43  43389519.0   AAPL  Consumer

                 Sector
 date
 2018-01-02  Technology
 2018-01-03  Technology
 2018-01-04  Technology
 2018-01-05  Technology
 2018-01-08  Technology
 ...                ...
 2023-11-28  Technology
 2023-11-29  Technology
 2023-11-30  Technology
 2023-12-01  Technology
 2023-12-04  Technology

 [1491 rows x 8 columns],
             1. open  2. high  3. low  4. close   5. volume Ticker  Industry  \
 date
 2018-01-02    86.13    86.31   85.50     85.95  21993101.0   MSFT  Consumer
 2018-01-03    86.06    86.51   85.97     86.35  24173064.0   MSFT  Consumer
 2018-01-04    86.59    87.66   86.57     87.11  21145985.0   MSFT  Consumer
 2018-01-05    87.66    88.41   87.43     88.19  22526563.0   MSFT  Consumer
 2018-01-08    88.20    88.58   87.60     88.28  20293930.0   MSFT  Consumer
 ...             ...      ...     ...       ...         ...    ...       ...
 2023-11-28   378.35   383.00  378.16    382.70  20453112.0   MSFT  Consumer
 2023-11-29   383.76   384.30  377.44    378.85  28963399.0   MSFT  Consumer
 2023-11-30   378.49   380.09  375.47    378.91  30554415.0   MSFT  Consumer
 2023-12-01   376.76   378.16  371.31    374.51  33040472.0   MSFT  Consumer
 2023-12-04   369.10   369.52  362.90    369.14  32063305.0   MSFT  Consumer

                 Sector
 date
 2018-01-02  Technology
 2018-01-03  Technology
 2018-01-04  Technology
 2018-01-05  Technology
 2018-01-08  Technology
 ...                ...
 2023-11-28  Technology
 2023-11-29  Technology
 2023-11-30  Technology
 2023-12-01  Technology
 2023-12-04  Technology

 [1491 rows x 8 columns],
             1. open  2. high   3. low  4. close  5. volume Ticker  Industry  \
 date
 2018-01-02    45.44  45.8100  45.2400     45.79   844217.0   SONY  Consumer
 2018-01-03    45.93  46.3600  45.9000     46.30   613227.0   SONY  Consumer
 2018-01-04    46.81  47.2600  46.8000     47.25   770666.0   SONY  Consumer
 2018-01-05    48.18  48.7900  48.1700     48.70  1356160.0   SONY  Consumer
 2018-01-08    48.80  49.0100  48.7300     49.00   618856.0   SONY  Consumer
 ...             ...      ...      ...       ...        ...    ...       ...
 2023-11-28    86.70  87.6100  86.4013     87.23  1169322.0   SONY  Consumer
 2023-11-29    86.90  87.0799  86.0350     86.10   606923.0   SONY  Consumer
 2023-11-30    86.61  86.6600  85.7700     85.95   813030.0   SONY  Consumer
 2023-12-01    85.37  86.3600  85.3700     86.14   648454.0   SONY  Consumer
 2023-12-04    85.27  85.5300  84.6200     85.32  1027827.0   SONY  Consumer

                 Sector
 date
 2018-01-02  Technology
 2018-01-03  Technology
 2018-01-04  Technology
 2018-01-05  Technology
 2018-01-08  Technology
 ...                ...
 2023-11-28  Technology
 2023-11-29  Technology
 2023-11-30  Technology
 2023-12-01  Technology
 2023-12-04  Technology

 [1491 rows x 8 columns],
             1. open  2. high  3. low  4. close  5. volume Ticker  Industry  \
 date
 2018-01-02    13.92   14.110   13.86     14.11   787359.0    LPL  Consumer
 2018-01-03    14.39   14.530   14.36     14.48   727780.0    LPL  Consumer
 2018-01-04    14.26   14.300   14.16     14.29   543745.0    LPL  Consumer
 2018-01-05    14.17   14.290   14.10     14.25   815117.0    LPL  Consumer
 2018-01-08    14.21   14.280   14.12     14.26   967458.0    LPL  Consumer
 ...             ...      ...     ...       ...        ...    ...       ...
 2023-11-28     4.92    4.930    4.87      4.88   202114.0    LPL  Consumer
 2023-11-29     4.81    4.855    4.78      4.81   150191.0    LPL  Consumer
 2023-11-30     4.83    4.830    4.78      4.81   130321.0    LPL  Consumer
 2023-12-01     4.74    4.890    4.74      4.89   103715.0    LPL  Consumer
 2023-12-04     4.79    4.820    4.74      4.80   189036.0    LPL  Consumer

                 Sector
 date
 2018-01-02  Technology
 2018-01-03  Technology
 2018-01-04  Technology
 2018-01-05  Technology
 2018-01-08  Technology
 ...                ...
 2023-11-28  Technology
 2023-11-29  Technology
 2023-11-30  Technology
 2023-12-01  Technology
 2023-12-04  Technology

 [1491 rows x 8 columns],
             1. open  2. high  3. low  4. close   5. volume Ticker  Industry  \
 date
 2018-08-02    16.00   21.000  15.510     19.91  22839036.0   SONO  Consumer
 2018-08-03    21.48   23.600  20.120     20.95  17337870.0   SONO  Consumer
 2018-08-06    21.03   21.360  19.250     19.35   6074996.0   SONO  Consumer
 2018-08-07    19.47   19.900  18.600     19.15   3171842.0   SONO  Consumer
 2018-08-08    19.15   19.800  18.030     18.14   3068196.0   SONO  Consumer
 ...             ...      ...     ...       ...         ...    ...       ...
 2023-11-28    14.64   14.980  14.460     14.95   2041104.0   SONO  Consumer
 2023-11-29    15.00   15.340  14.975     15.14   2854432.0   SONO  Consumer
 2023-11-30    15.26   15.340  15.040     15.10   2036331.0   SONO  Consumer
 2023-12-01    15.04   15.720  14.950     15.67   3214120.0   SONO  Consumer
 2023-12-04    15.66   15.925  15.500     15.69   2787337.0   SONO  Consumer

                 Sector
 date
 2018-08-02  Technology
 2018-08-03  Technology
 2018-08-06  Technology
 2018-08-07  Technology
 2018-08-08  Technology
 ...                ...
 2023-11-28  Technology
 2023-11-29  Technology
 2023-11-30  Technology
 2023-12-01  Technology
 2023-12-04  Technology

 [1344 rows x 8 columns],
             1. open  2. high   3. low  4. close  5. volume Ticker  Industry  \
 date
 2018-01-02   153.50   154.10  152.780    153.84  2854628.0    ACN  Infotech
 2018-01-03   152.99   154.99  152.990    154.55  2062495.0    ACN  Infotech
 2018-01-04   155.00   156.86  154.770    156.38  1753288.0    ACN  Infotech
 2018-01-05   156.61   157.72  156.130    157.67  1587649.0    ACN  Infotech
 2018-01-08   157.37   159.01  156.840    158.93  2610112.0    ACN  Infotech
 ...             ...      ...      ...       ...        ...    ...       ...
 2023-11-28   331.60   333.19  329.990    332.56  1377838.0    ACN  Infotech
 2023-11-29   335.00   335.80  332.780    333.34  1307290.0    ACN  Infotech

In [32]:
final_data = final_data.reset_index()
final_data.to_csv('raw_data.csv', index=True)        # Save to csv

In [42]:
tech_data = pd.read_csv('raw_data.csv')
tech_data = tech_data.rename(columns={'date': 'Date',
                                      '1. open': 'Open', 
                                      '2. high' : 'High', 
                                      '3. low' : 'Low',
                                      '4. close': 'Close',
                                      '5. volume': 'Volume',
                                      'Companies': 'sector'})
tech_data['sector'] = 'Technology'
tech_data = tech_data[['Date','Ticker', 'Sector', 'Industry', 'Open', 'High', 'Low', 'Close', 'Volume']]
# tech_data.to_csv('tech_data.csv', index = False)
tech_data['Date'] = pd.to_datetime(tech_data['Date'])
tech_data.to_csv('tech_data.csv')

In [44]:
pd.read_csv('tech_data.csv').drop(columns={'Unnamed: 0'})

,Date,Ticker,Sector,Industry,Open,High,Low,Close,Volume
0,2018-01-02,NVDA,Technology,Semiconductors,195.78,199.50,194.500,199.35,8303752.0
1,2018-01-03,NVDA,Technology,Semiconductors,204.10,213.70,203.750,212.47,22499518.0
2,2018-01-04,NVDA,Technology,Semiconductors,215.76,218.05,212.690,213.59,14346675.0
3,2018-01-05,NVDA,Technology,Semiconductors,214.19,216.91,211.080,215.40,14008768.0
4,2018-01-08,NVDA,Technology,Semiconductors,220.40,225.00,218.580,222.00,21190932.0
...,...,...,...,...,...,...,...,...,...
29059,2023-11-28,CTSH,Technology,Infotech,70.70,71.52,70.700,71.30,2607377.0
29060,2023-11-29,CTSH,Technology,Infotech,71.60,71.80,69.895,70.12,3521683.0
29061,2023-11-30,CTSH,Technology,Infotech,70.39,70.52,69.800,70.38,8254394.0
29062,2023-12-01,CTSH,Technology,Infotech,70.23,70.87,70.080,70.82,2672566.0
29063,2023-12-04,CTSH,Technology,Infotech,70.40,71.48,70.220,71.16,2405138.0